<div id="wrapper">
	<div id="innerwrapper">
		<h2>Sign up</h2>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>

		<div class="field">
			<p>Email</p>
			<%= f.email_field :email, :autofocus => true %>
		</div>

		<div class="field">
			<p> Name </p>
			<%= f.text_field :name %>
		</div>

		<div class="field">
			<p>Phone [Format: (123) 456-7890]</p>
			<%= f.text_field :phone%>
		</div>

		<div class="password">
			<p>Password</p>
			<%= f.password_field :password %>
		</div>

		<div class="field">
			<p>Confirm Password</p>
			<%= f.password_field :password_confirmation %></div>

			<div><%= f.submit "Sign up" %></div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
