<div id="wrapper">
	<div id="innerwrapper">
		<table>
			<tr>
				<td>body</td>
				<td>post</td>
				<td>user</td>
			</tr>

			<% @comments.each do |comment| %>
				<tr>
					<td><%= link_to comment.body, comment_path(comment.id) %></td>
					<td><%= comment.body %></td>
					<td><%= comment.post.title unless comment.post.nil? %></td>
					<td><%= comment.user.name unless comment.user.nil? %></td>
					<td><%=link_to "Edit Comment", edit_comment_path(comment.id)%></td>
					<td><%= link_to "Destroy Comment", comment, confirm: "Are you sure you would like to delete your comment?", method: :delete %></td>
				</tr>
			<% end %>
			
		</table>
	</div>
</div>
