<div id="wrapper">
	<div id="innerwrapper">
		
		<div class="error-msg">
			<% if @comment.errors.any? %>
			<ul>
				<% @comment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
			<% end %>
		</div>

		<%= form_for(@comment) do|f| %>
			<div class="field">
				<p>Post Title<NOFRAMES></NOFRAMES></p>
				<%= f.collection_select :post_id, Post.all, :id, :title %>
			</div>
			
			<div class="field">
				<p>Comment</p>
				<%= f.text_field :body%>
			</div>

			<div class="field">
				<%= f.hidden_field :user_id, :value =>current_user.id %>
			</div>

			<div class = "actions">
				<%= f.submit %>
			</div>

		<% end %>
	</div>
</div>
