 <div id="wrapper">
	<div id="innerwrapper">
	
	<% if @pending %>
		
		<h2 class="italics center name">Pending Requests</h2>

		<% @pending.each do |pending| %>
			<div class="inline">
				<% if current_user.id != pending.user_id%>
				<h2><%= pending.user.name %>  ~  <%= pending.group.group_name %></h2>
				
				<%= form_for(pending) do|f| %>
					<div class="field center inline">
						<%= f.hidden_field :accepted, :value => true %>
					</div>

					<div class = "actions inline">
						<%= f.submit "Accept User" %>
					</div>
				<%end%>
				<%end%>
				<%end%>
			</div>

			<% @own.each do |pending| %>
			<div class="inline">
				<% @own.each do |group| %>
					<% if Grouping.where(group_id: group.group_id).count == 1 && grouping.user_id == current_user.id %>
				<h2 class = "center"><%= pending.user.name %>  ~  <%= pending.group.group_name %></h2>
				
				<%= form_for(pending) do|f| %>
					<div class="field inline">
						<%= f.hidden_field :accepted, :value => true %>
					</div>

					<div class = "actions center inline">
						<%= f.submit "Accept User" %>
					</div>
				<%end%>
				<%end%>
				<%end%>

				
				<%end%>
			<%else%>
			<h2 class="italics center">No pending requests.</h2>
	<%end%>


	</div>
</div>