<div id="wrapper">
	<div id="text-align">
		<div class="center">
			<h2><%= @group.group_name%></h2>
		</div>

		<% @posts.each do |post| %>
			<div class="post_index group_index group_show">
				<div class ="center">
					<p class="title"><%= link_to post.title, post_path(post.id) %></p>
					<p><%= post.body %></p>
					<p class ="center"><% if !post.link.empty?%>
						<%= link_to "Click Here!", post.link %>
						<%end%></p>
					<p class="small_text">(<%= post.user.name unless post.user.nil? %>)</p>
				</div>
					<% if !Comment.where(post_id: post.id).empty? %>
						<p>Comments:</p>
							<% Comment.where(post_id: post.id).each do |comment| %>
								<div class="comment">
									<p>---<%= comment.body unless comment.body.nil? %></p>
									<p class="small_text">(<%= comment.user.name unless comment.user.nil? %>)</p>
								</div>
								<%end%>
						<%end%>
			
				<div class="center">
					<%= button_to "Edit Post", edit_post_path(post.id), method: :get %>
					<%= button_to "Destroy Post", post, confirm: "Are you sure you would like to delete your post?", method: :delete %>
					<%= button_to "Leave a Comment", new_comment_path, method: :get %>
				</div>
			</div>
		<% end %>
	</div>
</div>