<div id="wrapper">
	<div id="innerwrapper">
		<table>
			<tr>
				<td>first_name</td>
				<td>last_name</td>
				<td>email</td>
				<td>password</td>
				<td>phone</td>
				<td>group</td>
			</tr>
			
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.first_name + " " +user.last_name, user_path(user.id) %></td>
					<td><%= user.email %></td>
					<td><%= user.password %></td>
					<td><%= user.phone %></td>
					<td><%= user.group.group_name unless user.group.nil? %></td>
					<td><%=link_to "Edit User", edit_user_path(user.id)%></td>
					<td><%= link_to "Destroy User", user, confirm: "Are you sure you would like to delete your account?", method: :delete %></td>
				</tr>
			<% end %>

		</table>
	</div>
</div>





