<!-- <div id="wrapper">
	<div id="innerwrapper">
		<%= form_for(@user) do|f| %>
			<div class="field">
				<p>First Name</p>
				<%= f.text_field :first_name%>
			</div>

			<div class="field">
				<p>Last Name</p>
				<%= f.text_field :last_name%>
			</div>

			<div class="field">
				<p>Group</p>
				<%= f.collection_select :group_id, Group.all, :id, :group_name%>
			</div>

			<div class="field">
				<p>Email</p>
				<%= f.text_field :email%>
			</div>

			

		<% end %>
	</div>
</div> -->

