<!-- <div id="wrapper">
	<div id="innerwrapper">
		<div>
			<h2><%= @user.first_name%> <%= @user.last_name %></h2>
			<p><%= @user.email %></p>
			<p><%= @user.password %></p>
			<p><%= @user.phone %></p>
			<p><%= @user.group.group_name %></p>
		</div>
	</div>
</div> -->