<div id="wrapper">
	<div id="innerwrapper">
		<ul>
			<div>
				<li><%= link_to "Create A New Group", new_group_path %>     |     <%= link_to "View All Groups", groups_path %></li>
			</div>
		
			<div>
				<li><%= link_to "Create A New Post", new_post_path %>     |     <%= link_to "Browse All Posts", posts_path %></li>
			</div>

			<div>
				<li><%= link_to "Post A New Comment", new_comment_path %>     |     <%= link_to "View All Comments", comments_path %></li>
			</div> 
		</ul>

	</div>
</div>
