<body>
	<ul>
		<li><%= link_to "Create Account", new_user_path %></li>

		<li><%= link_to "View All Users", users_path %></li>

		<li><%= link_to "Create A New Group", new_group_path %></li>

		<li><%= link_to "View All Groups", groups_path %></li>

		<li><%= link_to "Create A New Post", new_post_path %></li>

		<li><%= link_to "Browse All Posts", posts_path %></li>

		<li><%= link_to "Post New Comment", new_comment_path %></li>

		<li><%= link_to "View All Comments", comments_path %></li>
	</ul>
</body>
