<div class="homepage">
	<div class="about">
		<h5 class="center name">About Insieme</h5>

		<p>Growing older is hard. We graduate. We move. We get married. We have kids. And then our kids will also graduate, get into trouble, and experience for themselves many of the same trials and triumphs that we have overcome.</p>
		<h3 class="center">But growing old shouldn't mean that it is hard to stay in touch!</h3>
		<p>In Italian, Insieme means "together." As we grow, we will grow together. Here's to memories past and more memories to come.</p>
		<h6 class="center italics bottom">Made at Wharton School of Business  ~  Code by Jennica Reichert</h6>
	</div>

	<div class="new_session center">
			<h2>Sign in</h2>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			
			<div class="field">
				<p>Email</p>
				<%= f.email_field :email, :autofocus => true %>
			</div>

			<div class="password">
				<p>Password</p>
				<%= f.password_field :password %>
			</div>

			<% if devise_mapping.rememberable? -%>
			<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
			<% end -%>

			<div><%= f.submit "Sign in" %></div>
			<% end %>

			<%= render "devise/shared/links" %>
	</div>
</div>



