<table>
	<tr>
		<td>title</td>
		<td>body</td>
		<td>link</td>
		<td>user</td>
	</tr>

	<% @posts.each do |post| %>
		<tr>
			<td><%= post.title %></td>
			<td><%= post.body %></td>
			<td><%= post.link %></td>
			<td><%= post.user.first_name unless post.user.nil? %> <%= post.user.last_name unless post.user.nil? %></td>
 		</tr>
	<% end %>
	
</table>