<div id="wrapper">
	<div id="innerwrapper">
		<table>
			<tr>
				<td>title</td>
				<td>body</td>
				<td>link</td>
				<td>user</td>
			</tr>

			<% @posts.each do |post| %>
				<tr>
					<td><%= link_to post.title, post_path(post.id) %></td>
					<td><%= post.title %></td>
					<td><%= post.body %></td>
					<td><%= post.link %></td>
					<td><%= post.user.first_name unless post.user.nil? %> <%= post.user.last_name unless post.user.nil? %></td>
					<td><%=link_to "Edit Post", edit_post_path(post.id)%></td>
					<td><%= link_to "Destroy Post", post, confirm: "Are you sure you would like to delete your post?", method: :delete %></td>
		 		</tr>
			<% end %>
			
		</table>
	</div>
</div>