<div id="wrapper">
	<div id="innerwrapper">
		
		<div class="error-msg">
			<% if @post.errors.any? %>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
			<% end %>
		</div>
		
		<%=form_for(@post) do |f| %>
			<div class="field">
				<p>Post Title</p>
				<%= f.text_field :title%>
			</div>

			<div class="field">
				<p>Body</p>
				<%= f.text_field :body%>
			</div>

			<div class="field">
				<p>Post a Link [Format: http://xyz.com]</p>
				<%= f.text_field :link%>
			</div>

			<div class="field">
				<%= f.hidden_field :user_id, :value =>current_user.id %>
			</div>

			<div class="field">
				<p>Group</p>
				<%= f.collection_select :group_id, @group_array, :id, :group_name %>
			</div>

			<div class = "actions">
				<%= f.submit %>
			</div>
			
		<% end %>

	</div>
</div>