<div id="wrapper">
	<div id="innerwrapper">
		<div class="post_index comment_index post_show group_index">
		
			<% if @post.user.id == current_user.id %>
					<div class="dropdown">
						<ul>
							<li><a href="#"><OPTION></OPTION>Options</a>
								<ul>
									<li><%= link_to "Edit Post", edit_post_path(@post.id), method: :get %></li>
									<li><%= link_to "Destroy Post", @post, confirm: "Are you sure you would like to delete your post?", method: :delete %></li>
								</ul>
							</li>
						</ul>
					</div>
			<%end%>

			<p class="title center"><%= @post.title %></p>
			<p class="small_text center">(<%= @post.created_at.strftime("%B %e, %Y  -  ")%><%= @post.user.name %>)</p>	

			<p class ="center files"><%= image_tag(@post.file)%></p>
			<p class ="center">
				<% if !@post.link.empty?%>
					<%= link_to "Shared link!", @post.link %>
				<%end%></p>
			<p class="text_align"><%= @post.body%></p>
	
				

			<div class="comment text-align">
				<% if !Comment.where(post_id: @post.id).empty? %>
					<p class="italics text-align">Comments:</p>
				<%end%>

				<% @comments.each do |comment| %>
					<div class="comment text-align">
						<p>~<%= comment.body unless comment.body.nil? %></p>
						<p class="small_text">(<%=comment.created_at.strftime("%B %e, %Y  -  ")%><%= comment.user.name unless comment.user.nil? %>)</p>

						<div class="small_text right">
							<% if comment.user.id == current_user.id %>
								<p>{<%= link_to "Edit Comment", edit_comment_path(comment.id), method: :get %></p>
								<p><%= link_to "Destroy Comment", comment, confirm: "Are you sure you would like to delete your comment?", method: :delete %>}</p>
							<%end%>	
						</div>
					</div>

				<%end%>
			</div>

			<div class = "comment_form">
				<div class="error-msg">
				<% if @new_comment.errors.any? %>
				<ul>
					<% @new_comment.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
				<% end %>
			</div>

			<%= form_for(@new_comment) do|f| %>
				<div class="field">
					<%= f.hidden_field :post_id, :value => @post.id %>
				</div>
				
				<div class="field">
					<%= f.text_field :body, :placeholder => "New Comment" %>
				</div>

				<div class="field">
					<%= f.hidden_field :user_id, :value =>current_user.id %>
				</div>

				<div class = "actions">
					<%= f.submit %>
				</div>

			<% end %>
		</div>

	</div>
</div>